<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello API </title>
    <link rel="stylesheet" href="css/live.css">

</head>
<body>
    <!-- F:\sass\images\InShot_20230330_095859891.mp4 -->

    <video autoplay muted loop id="myVideo">
  <source src="uploads/InShot_20230330_095859891.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content">
  <h1>KIRTAN SESSION</h1>
  <p>LISTEN KIRTAM AND KEEP YOURSELF CALM..</p>
  <!-- Use a button to pause/play the video with JavaScript -->

</div >
<div style="position: absolute;">
    <iframe width="820" height="415" src="https://www.youtube.com/embed/yq8UUH4IhOQ?autoplay=1" style="padding-top: 9rem ;padding-left: 23rem;" frameborder="0" allowfullscreen>  </iframe> 
    <!-- <iframe width="820" height="415" src="" frameborder="0" allowfullscreen style="padding-top: 9rem ;padding-left: 23rem;"></iframe> -->
    <!-- <iframe width="820" height="415" src="https://www.youtube.com/watch?v=mOjeJfYGY84" frameborder="0" allowfullscreen style="padding-top: 9rem ;padding-left: 23rem;" autoplay="on"></iframe> -->
        <div class="youtube-container" style="padding-top: 8rem;padding-left:35rem;width:620px;height:400px">
            <!-- https://www.youtube.com/watch?v=lOiuezcVOfg -->
        </div>
</div>

        <script src="js/ls_api.js"></script>
</body>
</html>