
<!-- __ Changes  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    

    <link rel="stylesheet" href="css/style_log_reg.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    
    <div id="main-container">

        <div id="container">

            <div class="block" id="block1">
                <img src="uploads/20602937_6325230-removebg.png" alt="login_image" width="60%" height="60%">
            </div>

            <div class="block" id="block2">
                <h2 style="color: teal;">Login Here</h2>
                <form action="/login" method="POST">
                  <div class="col-lg-12 p-2">
                    <div class="container-fluid">
                        <div class="row">
                        <!-- <p> Email </p> -->
                        <span class="material-symbols-outlined">
                            mail
                        </span> &nbsp;&nbsp;&nbsp; &nbsp;
                          <input type="email" class="form-control rounded-pill col-md-8" name="username"  placeholder="Email Id">
                        </div>
                    </div>
                    <div class="container-fluid p-xl-4">
                      <div class="row">
                        <span class="material-symbols-outlined">
                            lock
                        </span> &nbsp;&nbsp;&nbsp; &nbsp;
                        <input type="password" class="form-control rounded-pill col-md-8 " name="password" placeholder="password">
                      </div>
                    <div>
                  </div>   <br>           
                        <button type="submit" id="login-btn">Login</button>
                        <button type="submit" id="login-btn">
                            <a id="google-btn" href="/auth/google" role="button">
                                <a href="/auth/google" role="button" style="text-decoration: none;">  <img src="uploads/google.png" alt="google logo" height="16px"> &nbsp; Sign In with google </a>
                            </a>
                        </button>
                    </div>
                    <a href="/register" >Didn't have an account? Register Here</a>
                </form>

            </div>

            <!-- container end -->
        </div>
        <!-- main-container end -->
    </div>
    
</body>
</html>