<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacch Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.css">
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script>
        $(document).ready(function() {
          $('#loginbhai').on('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission behavior
      
            // Collect data from form fields
            const formData = {
              username: $('#email').val(),
              password: $('#password').val()
            };
      
            // Send the data to the Node.js route using AJAX
            $.ajax({
              type: 'POST',
              url: '/login', // This should be the route where you want to handle the data
              data: formData,
              success: function(response) {
                // Handle the server response here if needed
                window.location.href = "/secrets";
                // console.log(response);
                console.log("Login successfull");
              },
              error: function(err) {
                console.error(err);
              }
            });
          });
        });

        

        $(document).ready(function() {
          $('#registerbhai').on('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission behavior
      
            // Collect data from form fields
            const formData = {
              username: $('#email').val(),
              password: $('#password').val()
            };
      
            // Send the data to the Node.js route using AJAX
            $.ajax({
              type: 'POST',
              url: '/register', // This should be the route where you want to handle the data
              data: formData,
              success: function(response) {
                // Handle the server response here if needed
                window.location.href = "/secrets";
                console.log("Registration successful")
              },
              error: function(err) {
                console.error(err);
              }
            });
          });
        });

        
      </script>
      

   
</head>

<body class="is-boxed has-animations">

                                    <!-- Modal_hain_ji -->

    <div id="container">
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-success" id="loginbtn" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Login
        </button> -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                            <h1>Welcome to Vaach </h1>
                        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-underline" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">Login</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">Register</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                aria-labelledby="home-tab" tabindex="0">
                                <form id="loginbhai">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="email"
                                            aria-describedby="emailHelp">
                                        
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password">
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
                                aria-labelledby="profile-tab" tabindex="0">
                                <form id="registerbhai">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email"
                                            aria-describedby="emailHelp">
                                        
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary  w-100">Submit</button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer" id="addbutton">
                        <hr width="30px"> or sign up with
                        <hr width="30px">
                        <button type="button" class="btn btn-outline-primary"><img src="facebook.png" alt=""
                                width="16px"><a href="https://www.google.com" title="google icons">
                                Facebook</a></button>
                        <button type="button" class="btn btn-outline-secondary"><img src="google (3).png" alt=""
                                width="16px"><a href="https://www.google.com" title="google icons"> Google</a></button>
                    </div>

                </div>
            </div>
        </div>

    </div>

















    <header class="header" id="header">
        <nav class="nav container">
<!-- 
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#services" class="nav__link">Services</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">Contact us</a>
                    </li>

                    <i class='bx bx-toggle-left change-theme' id="theme-button"></i>
                </ul>
            </div> -->

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-grid-alt"></i>
            </div>
            <!-- <a href="/login" class="button button__header">Log in</a> -->
            <button type="button" class="button button__header" id="loginbtn" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
                Login
            </button>
            

            <button type="button" class="button button__header" id="loginbtn" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
                Sign up
            </button>
            <!-- <a href="/logout" class="button button__header">Log out </a> -->
        </nav>
    </header>
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
							<a href="#">
								<img class="header-logo-image" src="dist/images/logo.svg" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">NLP Powered  Chat App </h1>
	                        <p class="hero-paragraph">This is a communication platform designed to facilitate instant messaging and real-time conversations among users. </p>
	                        <div class="hero-cta"><a class="button button-primary"  href="#">Let's Explore</a><a class="button" href="#" >Get in touch</a></div>
						</div>
						<div class="hero-figure anime-element">
							<svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
								<rect width="528" height="396" style="fill:transparent;" />
							</svg>
							<div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
							<div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
							<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
							<div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
							<div class="hero-figure-box hero-figure-box-05"></div>
							<div class="hero-figure-box hero-figure-box-06"></div>
							<div class="hero-figure-box hero-figure-box-07"></div>
							<div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
							<div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
							<div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
						</div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-01.svg" alt="Feature 01">
                                    </div>
                                    <h4 class="feature-title mt-24">User-Friendly Interface</h4>
                                    <p class="text-sm mb-0"> A well-designed and intuitive user interface is crucial for ensuring that visitors can easily navigate the site. It should be visually appealing, user-friendly, and responsive, enhancing the overall user experience</p>
                                </div>
                            </div>
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-02.svg" alt="Feature 02">
                                    </div>
                                    <h4 class="feature-title mt-24"> AI Chatbot Integration </h4>
                                    <p class="text-sm mb-0"> NLP-powered chatbots are at the heart of such websites, providing real-time and automated communication. These chatbots can understand and respond to user queries, offering assistance, information, and support 24/7, making interactions efficient and effective.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-03.svg" alt="Feature 03">
                                    </div>
                                    <h4 class="feature-title mt-24">Personalized User Experience </h4>
                                    <p class="text-sm mb-0">NLP enables websites to analyze user data, such as browsing history and preferences, to offer personalized content and responses. This tailoring creates a more engaging and relevant experience, increasing user satisfaction and retention.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-04.svg" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title mt-24"> Data Security </h4>
                                    <p class="text-sm mb-0">Ensuring data security is paramount. Robust encryption and data protection measures are essential to safeguard user information and maintain trust in the website's integrity.</p>
                                </div>
                            </div>
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-05.svg" alt="Feature 05">
                                    </div>
                                    <h4 class="feature-title mt-24">Scalability and Performance</h4>
                                    <p class="text-sm mb-0">NLP-powered chat websites must be prepared for increased traffic and demand. Scalability and performance optimization are necessary to handle a growing user base and maintain responsiveness.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-06.svg" alt="Feature 06">
                                    </div>
                                    <h4 class="feature-title mt-24">Feedback and Analytics</h4>
                                    <p class="text-sm mb-0">Gathering user feedback and employing analytics tools helps continuously improve the website. It provides insights into user behavior and preferences, guiding updates and enhancements that enhance the website's functionality and user satisfaction.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
						<a href="#">
							<img class="header-logo-image" src="dist/images/logo.svg" alt="Logo">
						</a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                    <ul class="footer-social-links list-reset">
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Facebook</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z" fill="#0270D7"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Twitter</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z" fill="#0270D7"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Google</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z" fill="#0270D7"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="dist/js/main.min.js"></script>























    <script src="login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>